<!DOCTYPE html>
<html>

<head>
  <title>WebRTC 1 to 1 handshake V2</title>
  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-leap-hands/dist/aframe-leap-hands.umd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <style>
    body {
      margin: 0;
    }

    #remote-video {
      border: 1px solid black;
      height: 100vh;
      width: 100vw;
    }
  </style>
</head>

<body>
  <a-scene>
    <a-assets>
      <img id="power-icon" src="../static/images/power-icon.png" />
    </a-assets>
    <a-entity id="video-holder"></a-entity>
    <a-entity geometry="primitive: plane" material="src: #power-icon"></a-entity>
    <a-box position="0 4.25 -11" rotation="0 0 0" width="18" height="10.5" depth="2.5" color="#000"></a-box>
    <a-cylinder radius=".35" height="1" position="0 0 -4.3" rotation="0 0 0" color="#000"></a-cylinder>
    <a-box position="1 -1 -4.5" rotation="0 45 0" width="1" height="0.1" depth="3" color="#000"></a-box>
    <a-box position="-1 -1 -4.5" rotation="0 -45 0" width="1" height="0.1" depth="3" color="#000"></a-box>
    <a-box position="4 0.42 -4.5" rotation="0 0 0" width="0.1" height="0.2" depth="0.03" color="#4169e1"></a-box>
    <a-image position="3.4 0.48 -4.5" src="../static/images/power-icon.png" width="0.12" height="0.12"></a-image>
    <a-image position="3.0 0.48 -4.5" src="../static/images/menu.png" width="0.3" height="0.08"></a-image>
    <a-image position="18 3 -6" rotation="0 -90 0" src="../static/images/kanako-poster1.png" width="9" height="12">
    </a-image>
    <a-image position="-15 -5 -5" rotation="-90 0 0" src="../static/images/kanako-poster2.png" width="9" height="12">
    </a-image>
    <a-sky src=" ../static/images/bungalow.jpg" rotation="0 -84 0">
    </a-sky>
    <a-entity camera="near: 0.01" look-controls position="0 1.5 0">
      <a-entity leap-hand="hand: left"></a-entity>
      <a-entity leap-hand="hand: right"></a-entity>
    </a-entity>
  </a-scene>
  <script src="/build/front/answer.js"></script>
</body>

</html>